@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;

}

nav li:last-child a{
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
    text-decoration: none !important;
    
}
 ul {
   text-decoration: none;
   list-style: none;
 }



section.hero {
//background-image: url('https://i.ibb.co/g9r1jNZ/cover.png');


 background: linear-gradient(
  rgba(0, 0, 255, 0.26), rgba(255, 255, 0, 0.226)
  );
    background-size: cover;
    background-color: transparent;
    background-position: center;
    background-attachment: fixed;
}


.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
        &:hover{
            background: $primary;
            border-color: $pure;
            color: $pure;
        }
       
        &:focus{
          outline: none;
        }

       
}

.btn-primary{
  background: #FE5F1E;
  transition: $smooth;
  &:hover{
    background: $primary-hover;
  }
}


section.cart{
  background: $secondary;
 .amount{
   color: $primary;
 }
}

section.login{
  background: $secondary;
  min-height: calc(100vh - 200px);
}

section.error{
  min-height: calc(80vh - 86px);
  background: $secondary;
  text-align: center;
}


.noty_theme__mint{
  border-radius: 15px !important;
  padding-left: 8px !important;
}

section.orders{
  height: 100%;
  background-color: $secondary;
}
a.link {
  color: $primary;
}

section.status{
  background: $secondary;
  min-height: calc(100vh - 86px);
}
.status-box{
  padding: 60px 0 0;
}

#order_page{
  min-height: calc(100vh - 86px);
}
#admin-order{
  min-height: calc(100vh - 86px);
}


//dot aur line banane ka css h customer ke status page ke update ke liye
.status-box ul li span{
  position: relative;
  padding-left: 20px;
}
.status-box ul li span::after{
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  background: $dark;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px $secondary;
}
//ye icons ke liye h jo hum customer ke order status page pr icons dekh rahe hai
.status-box ul li span::before{
  font-family: 'Line Awesome Free';
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;// inherit likhne ka matlab h ki jo bhi parent ka color hoga wo icon ka color ban jayega
}
.status-box ul{
  margin-left: 84px;// jjye icons aur tect ko align karne ke liye hai ek line ke
}

// yaha har span ko select kr ke diffrenet types ke icons lagaya hai
.status-box ul li:nth-child(1) span::before{
  content: '\f46c';
}
.status-box ul li:nth-child(2) span::before{
  content: '\f560';
}
.status-box ul li:nth-child(3) span::before{
  content: '\f818';
}
.status-box ul li:nth-child(4) span::before{
  content: '\f0d1';
}
.status-box ul li:nth-child(5) span::before{
  content: '\f582';
}

.status-box ul li{
  position: relative;
}
// ye dots ke bich me jo line hai usko banaya hai
.status-box ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: $dark;
  margin-top: 10px;
}

//last dot ke niche jo line h usko hatane ke liye ye css h, fir html me se last wale list ka padding hata diya h taki last ki line gayab ho jaye
.status-box ul li:nth-child(5) span::after{
  box-shadow: 0 20px 1px 20px $secondary;
}

//ye verticle line ko grey kaar rha h jab order ka status complete hoga
.status-box ul li.step-completed::before{
  background: $gray;
}
//ye dot ye ko grey kaar rha h jab order ka status complete hoga
.status-box ul li.step-completed span::after{
  background: $gray;
}
// ye text ko grey kaar rha h jab order ka status complete hoga
.status-box ul li.step-completed span{
  color: $gray;
}

// ye current status ke color ko orange karne ke liye h jab bhi current status hoga 
//text
.status-box ul li.current {
  color: $primary;
}
//dots
.status-box ul li.current span::after{
  background-color: $primary;
}
.status-box ul li small{
  float: right;
  font-size: 14px;
  margin-top: 8PX;
}


.footer-basic {
  // margin-top: 250px;
    padding:10px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    background-color: $footer-color;
    color: $pure;
    
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .company{
      transition: $smooth;
      &:hover{
          color: $primary;
      }
      color: $pure;
  }
// .footer-basic{
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }



@media(max-width: 1060px){

  .container{
    max-width: 90%;
  }

  table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

}

@media(max-width: 768px){
  .status-box ul li span::before{
    font-size: 34px;
  }
}


.StripeElement {
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;

}

.StripeElement--focus{
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid{
  border-color: #fa755a;
}

.StripeElement--webkit-autofill{
  background-color: #fefde5 !important;
}